<div class="wrapper-md bg-light b-b">
    <button class="btn btn-primary pull-right" ui-sref="payload.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="tourologistApp.payload.home.createLabel">
            Create new Payload
        </span>
    </button>

    <h1 data-translate="tourologistApp.payload.home.title" class="m-n font-thin h3">Payloads</h1>
</div>

<jhi-alert></jhi-alert>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <div class="panel-heading">
                        <div class="row wrapper">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Search Payloads"
                                           ng-model="searchPayloads[queryBy]">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-condensed bg-white-only">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="name" style="max-width: 200px">
                                <span data-translate="tourologistApp.payload.name">Name</span> <span
                                class="glyphicon glyphicon-sort">
                                </span>
                            </th>
                            <th jh-sort-by="payloadType"><span
                                data-translate="tourologistApp.payload.payloadType">Payload Type</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th><span class="text-center">Audio File</span></span></th>
                            <th jh-sort-by="mimeType"><span
                                data-translate="tourologistApp.payload.mimeType">File Format</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="bubblName"><span data-translate="tourologistApp.payload.bubbl">Bubbl</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payload in vm.payloads | filter:searchPayloads track by payload.id">
                            <td>{{payload.name}}</td>
                            <td data-translate="{{'tourologistApp.PayloadType.' + payload.payloadType}}">
                                {{payload.payloadType}}
                            </td>
                            <td>
                                <audio ng-src="{{trustSrc(payload.url)}}" controls>
                                    Your browser does not support the <code>video</code> element.
                                </audio>
                            </td>
                            <td>{{payload.mimeType}}</td>
                            <td>
                                <p> {{payload.bubblName}}</p>
                            </td>
                            <td>
                                <div class="buttons">
                                    <button type="button"
                                            ui-sref="payload-detail({id:payload.id})"
                                            class="btn btn-info btn-icon btn-sm" title="View">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button type="button"
                                            ui-sref="payload.delete({id:payload.id})"
                                            class="btn btn-danger btn-icon btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <jhi-item-count page="vm.page" total="vm.queryCount"
                                            class="ext-muted m-t-sm m-b-sm"
                                            items-per-page="vm.itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <uib-pagination class="pagination pagination-sm m-t-none m-b-none"
                                            total-items="vm.totalItems"
                                            items-per-page="vm.itemsPerPage"
                                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
