
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPayloadLabel" data-translate="tourologistApp.payload.home.createOrEditLabel">Create or edit a Payload</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.payload.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.payload.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.payloadType" for="field_payloadType">Payload Type</label>
            <select class="form-control" name="payloadType" ng-model="vm.payload.payloadType" id="field_payloadType">
                <option value="OTHER" data-translate="tourologistApp.PayloadType.OTHER">OTHER</option>
                <option value="AUDIO" data-translate="tourologistApp.PayloadType.AUDIO">AUDIO</option>
                <option value="VIDEO" data-translate="tourologistApp.PayloadType.VIDEO">VIDEO</option>
                <option value="IMAGE" data-translate="tourologistApp.PayloadType.IMAGE">IMAGE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.payload.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.payload.url"
                    ng-maxlength="2083" />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2083">
                    This field cannot be longer than 2083 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.thumbUrl" for="field_thumbUrl">Thumb Url</label>
            <input type="text" class="form-control" name="thumbUrl" id="field_thumbUrl"
                    ng-model="vm.payload.thumbUrl"
                    ng-maxlength="2083" />
            <div ng-show="editForm.thumbUrl.$invalid">
                <p class="help-block"
                    ng-show="editForm.thumbUrl.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2083">
                    This field cannot be longer than 2083 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.mimeType" for="field_mimeType">Mime Type</label>
            <input type="text" class="form-control" name="mimeType" id="field_mimeType"
                    ng-model="vm.payload.mimeType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.payload.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.lastModified" for="field_lastModified">Last Modified</label>
                <div class="input-group">
                    <input id="field_lastModified" type="text" class="form-control" name="lastModified" datetime-picker="{{dateformat}}" ng-model="vm.payload.lastModified" is-open="vm.datePickerOpenStatus.lastModified"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModified')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.payload.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.payload.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="tourologistApp.payload.bubbl" for="field_bubbl">Bubbl</label>
            <select class="form-control" id="field_bubbl" name="bubbl" ng-model="vm.payload.bubblId" ng-options="bubbl.id as bubbl.name for bubbl in vm.bubbls"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
