<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTourLabel" data-translate="tourologistApp.tour.home.createOrEditLabel">Create or
            edit a Tour</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tour.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.tour.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.tour.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.tour.name"
                   required ng-maxlength="255"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength"
                   translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.tour.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.tour.description"
                   ng-maxlength="4096"/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength"
                   translate-value-max="4096">
                    This field cannot be longer than 4096 characters.
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" data-translate="tourologistApp.tour.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.tour.status" id="field_status">
                <option value="DRAFT" data-translate="tourologistApp.Status.DRAFT">DRAFT</option>
                <option value="SUBMITTED" data-translate="tourologistApp.Status.SUBMITTED">SUBMITTED</option>
                <option value="APPROVED" data-translate="tourologistApp.Status.APPROVED">APPROVED</option>
                <option value="REJECTED" data-translate="tourologistApp.Status.REJECTED">REJECTED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tourologistApp.tour.tourType" for="field_tourType">Tour
                Type</label>
            <select class="form-control" name="tourType" ng-model="vm.tour.tourType" id="field_tourType">
                <option value="DIY" data-translate="tourologistApp.TourType.DIY">DIY</option>
                <option value="SURPRISE_ME" data-translate="tourologistApp.TourType.SURPRISE_ME">SURPRISE_ME</option>
                <option value="FIXED" data-translate="tourologistApp.TourType.FIXED">FIXED</option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="tourologistApp.tour.interest" for="field_interest">Interest</label>
            <select class="form-control" id="field_interest" multiple name="interest" ng-model="vm.tour.interests"
                    ng-options="interest as interest.name for interest in vm.interests track by interest.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
