<div>
    <h2><span data-translate="tourologistApp.tour.detail.title">Tour</span> {{vm.tour.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt has-authority="ROLE_ADMIN">
            <spa>Author</spa>
        </dt>
        <dd has-authority="ROLE_ADMIN">
            <span>{{vm.tour.author}}</span>
        </dd>
        <dt><span data-translate="tourologistApp.tour.status">Status</span></dt>
        <dd>
            <span data-translate="{{'tourologistApp.Status.' + vm.tour.status}}">{{vm.tour.status}}</span>
        </dd>
        <dt><span data-translate="tourologistApp.tour.tourType">Tour Type</span></dt>
        <dd>
            <span data-translate="{{'tourologistApp.TourType.' + vm.tour.tourType}}">{{vm.tour.tourType}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            {{vm.tour.rating}}
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            {{vm.tour.description}}
        </dd>
        <dt><span>Tour Route Points</span></dt>
        <dd>
            {{vm.tour.tourRoutePoints.length}}
        </dd>
        <dt><span data-translate="tourologistApp.tour.interest">Interest</span></dt>
        <dd>
            <span ng-repeat="interest in vm.tour.interests">
                <a ui-sref="interest-detail({id: interest.id})">{{interest.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Bubbls in order</span></dt>
        <dd>
            <span ng-repeat="bubbl in vm.tour.bubbls">
                <a ui-sref="interest-detail({id: interest.id})">{{bubbl.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <div id="map-container">
        <div id="map-canvas">

            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options"
                                bounds="map.bounds">
                <ui-gmap-polyline ng-repeat="p in routes" path="p.path" stroke="p.stroke" visible='p.visible'
                                  geodesic='p.geodesic' fit="false" editable="p.editable"
                                  draggable="p.draggable"></ui-gmap-polyline>
            </ui-gmap-google-map>

        </div>
    </div>
</div>
<a ng-click="back()"
        class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
</a>
</div>
