<div class="container-fluid">
    <div class="row" style="padding-top: 15px; padding-bottom: 15px">
        <div class="col-md-12">
            <h1 data-translate="tourologistApp.tourImage.home.title" class="m-n font-thin h3">Tour Images</h1>
            <jhi-alert></jhi-alert>
        </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
        <div class="col-xs-4">
            <button class="btn btn-primary" ui-sref="tour-image.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span data-translate="tourologistApp.tourImage.home.createLabel">
                        Create new Tour Image
                    </span>
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="tourologistApp.tourImage.name">Name</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="tourologistApp.tourImage.url">Url</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thumbUrl"><span data-translate="tourologistApp.tourImage.thumbUrl">Thumb Url</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mimeType"><span data-translate="tourologistApp.tourImage.mimeType">Mime Type</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="master"><span data-translate="tourologistApp.tourImage.master">Master</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uploaded"><span data-translate="tourologistApp.tourImage.uploaded">Uploaded</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModified"><span data-translate="tourologistApp.tourImage.lastModified">Last Modified</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="tourologistApp.tourImage.deleted">Deleted</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tourName"><span data-translate="tourologistApp.tourImage.tour">Tour</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tourImage in vm.tourImages track by tourImage.id">
                    <td><a ui-sref="tour-image-detail({id:tourImage.id})">{{tourImage.id}}</a></td>
                    <td>{{tourImage.name}}</td>
                    <td>{{tourImage.url}}</td>
                    <td>{{tourImage.thumbUrl}}</td>
                    <td>{{tourImage.mimeType}}</td>
                    <td>{{tourImage.master}}</td>
                    <td>{{tourImage.uploaded | date:'medium'}}</td>
                    <td>{{tourImage.lastModified | date:'medium'}}</td>
                    <td>{{tourImage.deleted | date:'medium'}}</td>
                    <td>
                        <a ui-sref="tour-detail({id:tourImage.tourId})">{{tourImage.tourName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tour-image-detail({id:tourImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tour-image.edit({id:tourImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tour-image.delete({id:tourImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
