<div class="wrapper-md bg-light b-b">
    <button class="btn btn-primary pull-right" ui-sref="tour-download.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="tourologistApp.tourDownload.home.createLabel">
                        Create new Tour Download
        </span>
    </button>

    <h1 data-translate="tourologistApp.tourDownload.home.title" class="m-n font-thin h3">Tour Downloads</h1>
</div>

<jhi-alert></jhi-alert>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed bg-white-onlyt">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="time"><span data-translate="tourologistApp.tourDownload.time">Time</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="userEmail"><span
                                data-translate="tourologistApp.tourDownload.user">User</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="tourName"><span
                                data-translate="tourologistApp.tourDownload.tour">Tour</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th class="text-left">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tourDownload in vm.tourDownloads track by tourDownload.id">
                            <td><a ui-sref="tour-download-detail({id:tourDownload.id})">{{tourDownload.id}}</a></td>
                            <td>{{tourDownload.time | date:'medium'}}</td>
                            <td>
                                {{tourDownload.userEmail}}
                            </td>
                            <td>
                                <a ui-sref="tour-detail({id:tourDownload.tourId})">{{tourDownload.tourName}}</a>
                            </td>
                            <td class="text-left">
                                <div class="buttons">
                                    <button type="button"
                                            ui-sref="tour-download-detail({id:tourDownload.id})"
                                            class="btn btn-info btn-icon btn-sm" title="View">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button type="button"
                                            ui-sref="tour-download.edit({id:tourDownload.id})"
                                            class="btn btn-primary btn-icon btn-sm" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button"
                                            ui-sref="tour-download.delete({id:tourDownload.id})"
                                            class="btn btn-danger btn-icon btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <jhi-item-count page="vm.page" total="vm.queryCount"
                                            class="ext-muted m-t-sm m-b-sm"
                                            items-per-page="vm.itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <uib-pagination class="pagination pagination-sm m-t-none m-b-none"
                                            total-items="vm.totalItems"
                                            items-per-page="vm.itemsPerPage"
                                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
