<div class="wrapper-md bg-light b-b">
    <button class="btn btn-primary pull-right" ui-sref="tour-bubbl-route-point.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="tourologistApp.tourBubblRoutePoint.home.createLabel">
                        Create new Tour Bubbl Route Point
                    </span>
    </button>

    <h1 data-translate="tourologistApp.tourBubblRoutePoint.home.title" class="m-n font-thin h3">Tour Bubbl Route
        Points</h1>
</div>

<jhi-alert></jhi-alert>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed bg-white-onlyt">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="lat"><span
                                data-translate="tourologistApp.tourBubblRoutePoint.lat">Lat</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="lng"><span
                                data-translate="tourologistApp.tourBubblRoutePoint.lng">Lng</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="orderNumber"><span
                                data-translate="tourologistApp.tourBubblRoutePoint.orderNumber">Order Number</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="tourBubblId"><span
                                data-translate="tourologistApp.tourBubblRoutePoint.tourBubbl">Tour Bubbl</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th class="text-left">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tourBubblRoutePoint in vm.tourBubblRoutePoints track by tourBubblRoutePoint.id">
                            <td><a ui-sref="tour-bubbl-route-point-detail({id:tourBubblRoutePoint.id})">{{tourBubblRoutePoint.id}}</a>
                            </td>
                            <td>{{tourBubblRoutePoint.lat}}</td>
                            <td>{{tourBubblRoutePoint.lng}}</td>
                            <td>{{tourBubblRoutePoint.orderNumber}}</td>
                            <td>
                                <a ui-sref="tour-bubbl-detail({id:tourBubblRoutePoint.tourBubblId})">{{tourBubblRoutePoint.tourBubblId}}</a>
                            </td>
                            <td class="text-left">
                                <div class="buttons">
                                    <button type="button"
                                            ui-sref="tour-bubbl-route-point-detail({id:tourBubblRoutePoint.id})"
                                            class="btn btn-info btn-icon btn-sm" title="View">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button type="button"
                                            ui-sref="tour-bubbl-route-point.edit({id:tourBubblRoutePoint.id})"
                                            class="btn btn-primary btn-icon btn-sm" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button"
                                            ui-sref="tour-bubbl-route-point.delete({id:tourBubblRoutePoint.id})"
                                            class="btn btn-danger btn-icon btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <jhi-item-count page="vm.page" total="vm.queryCount"
                                            class="ext-muted m-t-sm m-b-sm"
                                            items-per-page="vm.itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <uib-pagination class="pagination pagination-sm m-t-none m-b-none"
                                            total-items="vm.totalItems"
                                            items-per-page="vm.itemsPerPage"
                                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
