<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.close()">&times;</button>
        <h4 class="modal-title" id="myTourLabel">{{ vm.tour.id ? 'Edit Tour' : 'Create Tour'}} </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-5 vertical-scrollable">
                <div class="form-group" ng-show="vm.tour.id">
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.tour.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="tourologistApp.tour.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.tour.name"
                           required ng-maxlength="255"/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength"
                           translate-value-max="255">
                            This field cannot be longer than 255 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="tourologistApp.tour.description"
                           for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           ng-model="vm.tour.description"
                           ng-maxlength="4096"/>
                    <div ng-show="editForm.description.$invalid">
                        <p class="help-block"
                           ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength"
                           translate-value-max="4096">
                            This field cannot be longer than 4096 characters.
                        </p>
                    </div>
                </div>
                <div class="well" style="max-height: 300px;overflow: auto;">
                    <span>Select Interest</span>
                    <label style="display:block" ng-repeat="interest in vm.interests track by interest.id">
                        <input type="checkbox" checklist-model="vm.tour.interests"
                               checklist-value="interest"/> {{interest.name}}</label>
                </div>

                <!-- bubbl list -->
                <p class="help-block">Please use use map to add bubbles and use mouse to reorder bubbls</p>
                <ul ui-sortable="vm.sortableOptions" ng-model="vm.tour.bubbls" class="bubblList">
                    <li ng-repeat="bubbl in vm.tour.bubbls | orderBy: 'orderNumber' track by $index"
                        class="bubblItem row">

                        <div class="col-xs-11">
                            <label class="control-label"><b>{{ bubbl.orderNumber }}.</b> {{ bubbl.name}}</label>
                        </div>
                        <div class="col-xs-1">
                            <buttom ng-show="vm.tour.bubbls.length > 1"
                               ng-click="vm.removeBubbl(bubbl)"
                               class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </buttom>
                        </div>
                    </li>
                </ul>

                <!-- bubbl list end -->

                <div class="text-right m-r-80">
                    <a href="" ng-click="vm.add()" class="mdl-color-text--pink">
                        <i class="">Add new Bubbls</i>
                        <!--Add new ingredient-->
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <div id="map-container">
                    <div id="map-canvas">
                        <tour-google-map show-bubbles="vm.showBubblesInRadius.show"
                                         radius="vm.showBubblesInRadius.value"></tour-google-map>
                    </div>
                </div>
                <div style="padding-top: 10px; padding-bottom: 10px">
                    <input type="checkbox" ng-model="vm.showBubblesInRadius.show">
                    <small> Show all Bubbles in center Circle with radius</small>
                    <input type="text" ng-disabled="!vm.showBubblesInRadius.show"
                           tour-valid-number ng-model="vm.showBubblesInRadius.value"/> meters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" ng-click="vm.save()"
                    ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                data-translate="entity.action.save">Save</span>
            </button>
        </div>
</form>
