<div class="wrapper-md bg-light b-b">
    <button class="btn btn-primary pull-right" ui-sref="bubbl-image.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="tourologistApp.bubblImage.home.createLabel">
                    Create new Bubbl Image
                </span>
    </button>

    <h1 data-translate="tourologistApp.bubblImage.home.title" class="m-n font-thin h3">Bubbl Images</h1>
</div>

<jhi-alert></jhi-alert>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed bg-white-only">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="name"><span data-translate="tourologistApp.bubblImage.name">Name</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="uploaded"><span
                                data-translate="tourologistApp.bubblImage.uploaded">Uploaded</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="s3Key"><span data-translate="tourologistApp.bubblImage.s3Key">S 3 Key</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="s3Bucket"><span
                                data-translate="tourologistApp.bubblImage.s3Bucket">S 3 Bucket</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="s3ThumbKey"><span data-translate="tourologistApp.bubblImage.s3ThumbKey">S 3 Thumb Key</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="s3Region"><span
                                data-translate="tourologistApp.bubblImage.s3Region">S 3 Region</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="type"><span data-translate="tourologistApp.bubblImage.type">Type</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="master"><span
                                data-translate="tourologistApp.bubblImage.master">Master</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="bubblName"><span
                                data-translate="tourologistApp.bubblImage.bubbl">Bubbl</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th class="text-left">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bubblImage in vm.bubblImages track by bubblImage.id">
                            <td><a ui-sref="bubbl-image-detail({id:bubblImage.id})">{{bubblImage.id}}</a></td>
                            <td>{{bubblImage.name}}</td>
                            <td>{{bubblImage.uploaded | date:'medium'}}</td>
                            <td>{{bubblImage.s3Key}}</td>
                            <td>{{bubblImage.s3Bucket}}</td>
                            <td>{{bubblImage.s3ThumbKey}}</td>
                            <td>{{bubblImage.s3Region}}</td>
                            <td>{{bubblImage.type}}</td>
                            <td>{{bubblImage.master}}</td>
                            <td>
                                <a ui-sref="bubbl-detail({id:bubblImage.bubblId})">{{bubblImage.bubblName}}</a>
                            </td>
                            <td class="text-left">
                                <div class="buttons">
                                    <button type="submit"
                                            ui-sref="bubbl-image-detail({id:bubblImage.id})"
                                            class="btn btn-info btn-icon btn-sm" title="View">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="bubbl-image.edit({id:bubblImage.id})"
                                            class="btn btn-primary btn-icon btn-sm" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="bubbl-image.delete({id:bubblImage.id})"
                                            class="btn btn-danger btn-icon btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4 text-center">
                                <jhi-item-count page="vm.page" total="vm.queryCount"
                                                class="ext-muted m-t-sm m-b-sm"
                                                items-per-page="vm.itemsPerPage"></jhi-item-count>
                            </div>
                            <div class="col-sm-4 text-right text-center-xs">
                                <uib-pagination class="pagination pagination-sm m-t-none m-b-none"
                                                total-items="vm.totalItems"
                                                items-per-page="vm.itemsPerPage"
                                                ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
