<!-- navbar header -->
<div class="navbar-header {{ app.settings.navbarHeaderColor }}" style="background-color: #820202;">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <i class="icon-app_icon_v2"></i>
        <img src="content/images/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}"
     ng-switch="vm.isAuthenticated()">

    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa fa-fw fa-dedent"></i>
        </a>
    </div>

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active" uib-dropdown class="dropdown pointer"
            ng-controller="TlLanguageController as languageVm">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                    <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language |
                        findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>

        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                        <span data-translate="global.menu.account.settings">Settings</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="password" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-lock"></span>&nbsp;
                        <span data-translate="global.menu.account.password">Password</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                        <span data-translate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span data-translate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a ui-sref="register" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                        <span data-translate="global.menu.account.register">Register</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
