<form name="editForm" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title" id="myTourLabel">{{ vm.tour.id ? 'Edit Tour: ' + vm.tour.name : 'Create Tour'}} </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-5 vertical-scrollable">
                <div id="tabs">
                    <ul class="tab">
                        <li ng-repeat="tab in vm.tabs"
                            ng-class="{ active : vm.isActiveTab(tab) }"
                            ng-click="vm.onClickTab(tab)">{{ tab.title }}
                        </li>
                    </ul>
                    <div id="mainTabView">
                        <div ng-include="vm.currentTab.url"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div id="map-container">
                    <div id="map-canvas">
                        <div ng-include="vm.mapContextMenuUrl"></div>
                        <tour-google-map show-bubbles="vm.showBubblesInRadius.show"
                                         tours="[vm.tour]"
                                         only-center-map-by-tours="true"
                                         radius="vm.showBubblesInRadius.value"
                                         on-bubbl-marker-right-click="vm.onBubblMarkerRightClick"></tour-google-map>
                    </div>
                </div>

            </div>
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px">
            <input type="checkbox" ng-model="vm.showBubblesInRadius.show">
            <small> Show all Bubbles in center Circle with radius</small>
            <input type="text" ng-disabled="!vm.showBubblesInRadius.show"
                   tour-valid-number ng-model="vm.showBubblesInRadius.value"/> meters
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" ng-click="vm.save()"
                ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span
            data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
