<div>
    <h2 data-translate="tourologistApp.bubblRating.home.title">Bubbl Ratings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bubbl-rating.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tourologistApp.bubblRating.home.createLabel">
                        Create new Bubbl Rating
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span data-translate="tourologistApp.bubblRating.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="feedback"><span data-translate="tourologistApp.bubblRating.feedback">Feedback</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="time"><span data-translate="tourologistApp.bubblRating.time">Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="tourologistApp.bubblRating.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bubblName"><span data-translate="tourologistApp.bubblRating.bubbl">Bubbl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bubblRating in vm.bubblRatings track by bubblRating.id">
                    <td><a ui-sref="bubbl-rating-detail({id:bubblRating.id})">{{bubblRating.id}}</a></td>
                    <td>{{bubblRating.rate}}</td>
                    <td>{{bubblRating.feedback}}</td>
                    <td>{{bubblRating.time | date:'medium'}}</td>
                    <td>
                        {{bubblRating.userId}}
                    </td>
                    <td>
                        <a ui-sref="bubbl-detail({id:bubblRating.bubblId})">{{bubblRating.bubblName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bubbl-rating-detail({id:bubblRating.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bubbl-rating.edit({id:bubblRating.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bubbl-rating.delete({id:bubblRating.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
