.tour-constructor {
    .modal-dialog {
        width: 99%;
    }

    .vertical-scrollable {
        max-height: 600px;
        overflow-y: auto;
    }

    .bubblList {
        list-style: none outside none;
        margin: 10px 0 30px;
        padding: 0px;
    }

    .bubblItem {
        width: 100%;
        padding: 5px 10px;
        margin: 5px 0;
        border: 2px solid #3c763d;
        border-radius: 20px;
        background-color: #cfea8a;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
        cursor: move;
        color: black;
    }

    #tabs {
        ul.tab {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                border: 1px solid #eeeeee;
                border-bottom-width: 0;
                margin: 3px 3px 0px 0px;
                padding: 10px;
                background-color: white;
                color: #696969;
            }

            .active {
                background-color: #dff0d8;
                color: #000;
            }
        }

        #mainTabView {
            border: 1px solid #eeeeee;
            clear: both;
            padding: 5px;
        }
    }
}
