<div class="container-fluid diy-tour">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">DIY Tours</h2>
            <jhi-alert></jhi-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>
                Max Delta:
                <input ng-model="vm.maxDelta" type="text" tour-valid-number/>
                <button type="button" class="btn btn-default" ng-click="vm.redrawRoutes()">Apply</button>
            </label>

            <p class="help-block">Please use context menu on the map to set start and end points</p>

            <div id="map-container">
                <div id="map-canvas">
                    <div class="contextmenu" style="visibility: hidden">
                        <a id='menuSetStartPointId' ng-click='vm.onMenuSetStartPointClick()'>
                            <div class=context>Set start Point</div>
                        </a>
                        <a id='menuSetEndPointId' ng-click='vm.onMenuSetEndPointClick()'>
                            <div class=context>Set End Point</div>
                        </a>
                    </div>
                    <tour-google-map></tour-google-map>
                </div>
            </div>
        </div>
    </div>
</div>

